<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="DefaultPushSource" value="E:\Nuget" />
  </config>
  <disabledPackageSources>
    <add key="ReactiveUI" value="true" />
  </disabledPackageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="MyGet-Automapper" value="https://www.myget.org/F/automapperdev/api/v2" />
    <add key="VistianLocal" value="E:\NuGet" />
    <!-- 
    <add key="ReactiveUI" value="https://www.myget.org/F/reactiveui/api/v3/index.json" /> -->
  </packageSources>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <activePackageSource>
    <add key="MyGet-Automapper" value="https://www.myget.org/F/automapperdev/api/v2" />
  </activePackageSource>
</configuration>